# Python / Django
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
venv/
env/
.venv/
db.sqlite3
*.sqlite3
*.db

# Media & Static
media/
staticfiles/

# Logs
*.log

# Node / Frontend
node_modules/
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/
.DS_Store